* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* Navbar CSS */
.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 42px;
  background-color: #fdf2e9;
}

.logo img {
  width: 170px;
}

.icon-ul li {
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 2.5rem;
  margin-right: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.icon-ul li:hover {
  cursor: pointer;
  color: #e67e22;
}

button.free {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #e67e22;
  font-size: 1.05rem;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: lighter;
  color: white;
  transition: all 0.5s;
}

button.free:hover {
  background-color: #de6800;
  cursor: pointer;
}

/* A Healthy Meal CSS  */

.healthy-img img {
  width: 95%;
}

.background-meal {
  background-color: #fdf2e9;
  width: 100%;
  margin-top: 0;
  padding-bottom: 5rem;
}

.healthy-meal {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 20px 0 20px;
  width: 90%;
  margin: 0px auto;
}

.healthy-para {
  padding-top: 3rem;
}

.healthy-para h2 {
  color: #333;
  font-size: 3.2rem;
  line-height: 3.5rem;
  margin-bottom: 35px;
  width: 90%;
}

.healthy-para p {
  font-size: 1.25rem;
  width: 85%;
  line-height: 1.9rem;
  color: #555;
  margin: 35px 0;
}

span.eating-btn button {
  padding: 13px 30px;
  font-size: 1.1rem;
  margin-right: 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

span.eating-btn button.eating {
  background-color: #e67e22;
  color: white;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

span.eating-btn button.eating:hover {
  background-color: #de6800;
  cursor: pointer;
}

span.eating-btn button.learn {
  background-color: white;
  color: #555;
  font-weight: bold;
  border: 3px solid #fdf2e9;
  transition: all 0.4s ease-in-out;
}

span.eating-btn button.learn:hover {
  background-color: #fdf2e9;
  border: 3px solid white;
  cursor: pointer;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* text-align: center; */
}

.img-div p {
  /* display: inline; */
  margin-left: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}

.img-div p i {
  color: #c56109;
}

.img-div img {
  width: 40px;
  border-radius: 50%;
  margin-right: -20px;
  border: 4px solid #fdf2e9;
}

/* Brand Div CSS */
.brand-div {
  margin: 0 auto;
  padding-top: 2rem;
  width: 90%;
}

.brand-div p {
  color: rgb(125, 125, 125);
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.brands img {
  height: 2rem;
  color: rgb(125, 125, 125);
  filter: brightness(0);
  opacity: 50%;
}

.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

/* App Screen CSS */

.app-disc {
  display: block;
  flex-wrap: wrap;
  width: 90%;
  margin: 40px auto;
}

.text-div {
  margin: 15px 0 15px 15px;
  padding: 10px;
}

div.text-div p {
  margin-bottom: 15px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #c56109;
}

div.text-div h3 {
  font-size: 2.6rem;
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.85);
}

div.app-div {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 85%;
  margin: 50px auto;
}

div.app-setting-text h3 {
  font-size: 5rem;
  font-weight: 600;
  color: lightgrey;
}

div.app-setting-text h4 {
  font-size: 1.7rem;
  margin-bottom: 25px;
}

div.app-setting-text p {
  font-size: 1.15rem;
  width: 65%;
  line-height: 1.7rem;
  color: rgb(126, 126, 126);
  padding: 5px;
  padding-right: 10px;
  text-align: justify;
}

div.app-img img {
  width: 160px;
  margin-right: 25px;
}

div.app-div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 60px auto;
}

div.app-setting-text2 {
  margin-left: 10rem;
  text-align: justify;
}

div.app-setting-text2 h3 {
  font-size: 5rem;
  font-weight: 600;
  color: lightgrey;
}

div.app-setting-text2 h4 {
  font-size: 1.7rem;
  margin-bottom: 25px;
}

div.app-setting-text2 p {
  font-size: 1.15rem;
  width: 80%;
  line-height: 1.7rem;
  color: rgb(126, 126, 126);
  /* padding: 5px; */
  /* padding-left: 10px; */
  text-align: justify;
}

div.app-img2 img {
  width: 160px;
  margin-right: 4rem;
}

/* Meals Card Div CSS */

div.meal-cards {
  padding: 60px 0;
  width: 80%;
  margin: 0px auto;
}

div.meal-card-text {
  text-align: center;
}

div.meal-card-text p {
  font-size: 1.3rem;
  color: #c56109;
  text-transform: uppercase;
  margin-bottom: 15px;
}

div.meal-card-text h3 {
  font-size: 2.4rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.9);
}

div.main-card-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 3rem;
  margin: 25px auto;
}

div.card {
  width: 336px;
  margin-top: 25px;
  height: 500px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

div.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.7s;
}

div.main-card-div img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

div.card span.card-text {
  display: inline-block;
  padding: 25px;
  margin-left: 25px;
}

span.card-text p {
  font-size: 0.8rem;
  background-color: #51cf66;
  border-radius: 30px;
  padding: 3px 6px;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 600;
}

span.card-no-2 p {
  text-transform: uppercase;
  background-color: #ffd43b;
  padding: 3px 6px;
  margin-right: 5px;
  font-weight: 600;
}

span.card-no-2 p.one {
  background-color: #94d82d;
  color: black;
}

span.card-text p.meal-name {
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}

span.card-text ul {
  margin-bottom: 25px;
}

span.card-text ul li {
  list-style-type: none;
  margin: 10px;
  font-size: 1.1rem;
  color: rgb(125, 125, 125);
  margin-bottom: 18px;
  text-align: justify;
}

span.card-text li i {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: black;
}

div.card-meal {
  width: 336px;
  margin-top: 25px;
  height: 480px;
}

div.card-meal h3 {
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

div.card-meal li {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: #555;
  margin-top: 25px;
  margin-right: 20px;
  text-align: justify;
}

div.card-meal li i {
  font-size: 1.3rem;
  color: black;
}

div.all-recipes {
  color: #e67e22;
  padding: 60px;
  text-align: center;
  width: 80%;
  margin: 10px auto;
}

div.all-recipes p {
  font-size: 1.2rem;
  text-decoration: underline;
  /* margin-bottom: 2px; */
  transition: all 0.5s ease-in-out;
}

div.all-recipes p:hover {
  text-decoration: white;
  color: #c56109;
  cursor: pointer;
}

/* Testimonials Section Start */
section.testimonials {
  padding: 70px 50px 50px 0;
  background-color: #fdf2e9;
}

div.testimonial-parent {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-left: 50px;
  margin: 10px auto;
}

section.testimonials div.reviews {
  /* margin-top: 80px; */
  width: 50%;
}

div.reviews p.testi {
  font-size: 1.05rem;
  text-transform: uppercase;
  color: #e67e22;
  margin-bottom: 20px;
}

div.reviews h3 {
  font-size: 2.6rem;
  width: 90%;
  color: #333;
}

div.reviews span {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-right: 50px;
  margin-top: 30px;
}

div.reviews span img {
  display: inline-block;
  width: 65px;
  border-radius: 50%;
}

div.reviews span p {
  /* display: inline-block; */
  width: 90%;
  font-size: 1.1rem;
  color: #555;
  text-align: justify;
  line-height: 1.7rem;
  margin-top: 20px;
}

div.reviews span p.name {
  color: #555;
  font-size: 1rem;
}

div.testimonials-imgs {
  width: 50%;
  text-align: center;
}

div.testimonials-imgs img {
  width: 180px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.3s;
}

div.testimonials-imgs img:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Pricing Section */

section.pricing-div {
  padding-top: 5rem;
  width: 90%;
  margin: 25px auto;
}

section.pricing-div p.taxes {
  margin: 50px 0;
  /* margin-top: 60px; */
  text-align: center;
  font-size: 1rem;
  color: #555;
}

div.pricing-text p {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #c56109;
  margin-bottom: 10px;
}

div.pricing-text h3 {
  font-size: 2.7rem;
  margin: 20px 0 50px 0;
}

div.pricing-card-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
}

div.pricing-card {
  padding-top: 25px;
  border-radius: 10px;
  width: 40%;
  padding: 2rem;
  border: 0.2px solid #e67d22bf;
  transition: all 0.4s ease-in-out;
}

div.pricing-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
}

div.pricing-card p.plan {
  margin-top: 30px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #c56109;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 7px;
}

div div.pricing-card p.price {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}

div.pricing-card p.price span {
  font-size: 1.5rem;
  margin-right: 5px;
}

div.pricing-card p.month {
  font-size: 1rem;
  margin: 20px 0;
  color: #555;
  text-align: center;
}

div.pricing-card ul {
  text-align: justify;
  padding: 25px;
  padding-left: 5rem;
  margin: 50px auto;
}

div.pricing-card ul li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 15px;
  list-style-type: none;
}

div.pricing-card ul li i {
  font-size: 1.5rem;
  color: black;
}

div.pricing-card ul li.one {
  color: white;
}

div.pricing-card button {
  padding: 13px 15px;
  width: 50%;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #e67e22;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

div.pricing-card button:hover {
  background-color: #de6800;
}

div.pricing-card2 {
  background-color: #fdf2e9;
  border: none;
}

div.feature-div {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  align-items: center;
  text-align: center;
  width: 95%;
  margin: 10px auto;
  column-gap: 2rem;
}

div.feature {
  /* display: flex; */
  align-content: center;
}

div.feature i {
  text-align: center;
  font-size: 12rem;
  margin: 0 0 50px 5px;
}

div.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
  text-align: left;
}

div.feature p {
  font-size: 1.1rem;
  line-height: 2rem;
  color: #555;
  width: 90%;
  text-align: left;
}

/* Form Div CSS Starts */

section.form-div-main {
  height: 600px;
  margin-top: 5rem;
  width: 100%;
  border-bottom: 0.1px solid #b0b0b0;
  margin-bottom: 30px;
}

div.form-div-img {
  width: 50%;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("./Image/eating.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 15px 15px 0;
}

div.form-div {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 80%;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15px;
}

div.form-div-text {
  padding: 60px;
  border-radius: 15px 0 0 15px;
  color: #45260a;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

div.form-div-text h3 {
  font-size: 2.7rem;
  padding: 5px;
  margin: 0 0 25px 0;
}

div.form-div-text p {
  font-size: 1.1rem;
  line-height: 2rem;
  width: 90%;
}

div.form-div-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0 25px 20px;
}

div.form-div-input div {
  width: 40%;
  margin: 5px;
}

div.input-div label {
  font-size: 1.1rem;
}

div.input-div input {
  padding: 12px 20px;
  margin: 15px 0;
  border-radius: 5px;
  border: none;
  width: 15rem;
  font-size: 1rem;
}

div.input-div input:active {
  border: none;
}

div.input-div input:focus {
  border: none;
  box-shadow: 5px 5px 20px white;
}

div.input-div select {
  font-size: 1.1rem;
  margin-top: 20px 0;
  padding: 12px 20px;
  width: 15rem;
  border-radius: 5px;
  border: none;
  width: 17rem;
}

div.input-div select,
option {
  font-size: 1.1rem;
  color: #45260a;
  margin: 15px 0;
}

div.input-div select:focus {
  box-shadow: 5px 5px 20px white;
}

div.input-div button {
  padding: 12px 20px;
  width: 17.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background-color: #45260a;
  transition: all 0.7s;
}

div.input-div button:hover {
  background-color: white;
  color: #333;
  cursor: pointer;
}

/* Footer Container */
footer.footer-div {
  width: 85%;
  font-size: 1rem;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 6.4rem;
}

div.copyright p {
  font-size: 1rem;
  /* width: 80%; */
  margin-top: 40px;
}

div.copyright img {
  width: 120px;
}

div.adress p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

div.adress ul li {
  list-style-type: none;
  margin-bottom: 20px;
  width: 60%;
}

div.account p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

div.account ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

div.company p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

div.company ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

div.resources p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

div.resources ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
